.construction-banner {
  background-color: #f44336;
  color: #fff; 
  padding: 10px; 
  text-align: center;
  font-size: 18px;
}

.icon_light{
  fill: black !important;
  
  /* filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(274deg) brightness(107%) contrast(105%); */
}
.icon_dark{
  fill: white !important;
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(108%) contrast(102%); */
}    