
.text-compressed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10%; 
    cursor: pointer;
  }
  .text-full {
    white-space: normal;
    overflow: auto;
  }